.contenedor1 {
    height: 100px;
    width: 100px;
    border: 5px solid;
    background-color: aquamarine;
    position: relative;
    right: 12px;
    top: 12px;

}
.contenedor2 {
    height: 100px;
    width: 100px;
    border: 5px solid;
    border-color: black;
    background-color: coral;
    position: absolute;
    left: 50px;
    bottom: 30px;
}